@{
    ViewData["Title"] = "Paste";
}

<h1>Paste files from code</h1>

<div>
    <input id="paste-code" />
</div>

<button id="submitBtn">Paste</button>

<div id="retrieved-files">
    <p id="file-name"></p>
    <a id="file-download-url"></a>
</div>

<script>
    var submitBtn = document.getElementById('submitBtn');
    var pasteCodeInput = document.getElementById('paste-code');
    var fileNameElement = document.getElementById('file-name');
    var fileDownloadUrlElement = document.getElementById('file-download-url');
    var retrievedFilesContainer = document.getElementById('retrieved-files');

    submitBtn.addEventListener('click', function () {
        var code = pasteCodeInput.value;

        fetch('/FileStorages/GetFilesByCode?code=' + code, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => response.json())
            .then(result => {
                console.log(result);

                if (result.message) {
                    console.log(result.message);
                    return;
                }

                retrievedFilesContainer.innerHTML = '';

                result.forEach(file => {
                    var fileNameParagraph = document.createElement('p');
                    fileNameParagraph.textContent = 'File Name: ' + file.filename; 
                    retrievedFilesContainer.appendChild(fileNameParagraph);

                    var fileDownloadLink = document.createElement('a');
                    fileDownloadLink.textContent = 'Download';
                    fileDownloadLink.href = file.blobURI; 
                    retrievedFilesContainer.appendChild(fileDownloadLink);
                });
            })
            .catch(error => {
                console.error(error);
            });
    });
</script>
