@{
    ViewData["Title"] = "Copy";
}

<h1>Copy files</h1>

<input type="file" id="input-file-now" class="file-upload" />
<button class="btn btn-primary" id="btn-submit">Copy</button>

<script>
    $(document).ready(function () {
        $("#btn-submit").click(function () {
            var fileInput = document.getElementById('input-file-now');
            var file = fileInput.files[0];

            var formData = new FormData();
            formData.append('file', file);

            $.ajax({
                url: '/FileStorages/UploadFile', 
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    console.log("File uploaded successfully");
                },
                error: function (error) {
                    console.error("Error uploading file: " + error.responseText);
                }
            });
        });
    });
</script>