@{
    ViewData["Title"] = "Choose";
}


<h1>Copy text with code</h1>

<a asp-controller="TextStorages" asp-action="UploadFiles">Copy</a>

<h2>OR</h2>

<h1>Paste text from code?</h1>

<a asp-controller="TextStorages" asp-action="GetFiles">Paste</a>